name: Build Android App

on:
  push:
    branches:
      - 'dev'

jobs:
  apk:
    name: Generate APK
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build debug APK
        working-directory: ./CodeCompanion
        run: bash ./gradlew assemble --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: Android-App
          path: CodeCompanion/app/build/outputs/apk/release/app-release-unsigned.apk